#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => "main"}
    .contentArea.contentAreaC
      .module.alignleft.text-left.box.callToAction{style: "background-color: #{@find_tour_page.description_background};"}
        = raw @find_tour_page.description