- meta title: @self_travel_page.meta_title, description: @self_travel_page.meta_description, keywords: @self_travel_page.meta_keywords

#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => "main"}
    .contentArea.contentAreaC
      .module.margin-collapse.display
        %h1{:style => "font-size: 1.4375em;"}
          = @self_travel_page.title
      .module.divider-divider-variable.divider-variable{:style => "height: 15px;"}
      .module.alignleft.text-left.box.callToAction{style: "background-color: #{@self_travel_page.description_background};"}
        = raw @self_travel_page.description
      .module.htmlModule
        %meta{:charset => "utf-8"}/
        :css
          .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {

          font-size: 14px;
          color: black;

          }
          .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
          color: rgb(0, 99, 132);
          }
          .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
          font-size: 1em;
          padding: .5em 1em;
          }
           .module.margin-collapse.border.bar h1.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h2.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h3.h2 {
          color: #006384;
          }
          .usp li:before {
          content: "\0058";
          color: #FFB32A;
          }
          .contentArea .h2 {
          font-size: 20px;
          color: #000;
          line-height: 1;
          font-style: normal;
          font-weight: 600;
          }
          .btn-call, .btn-email {
          padding: 2.25em .75em .25em 3em;
          font-size: 0.985em;
          height: 90px;
          }
          .btn-call:before, .btn-email:before {
          padding: 2.25em .75em;
          border-right: 1px dotted white;
          }
          .spec{
          background: #006384;
          color: #fff;
          }
          .to_top{
          position: fixed;
          top: 0px;
          width: 3000px;
          background: #0099cc;
          margin-left: -1050px;}
          #stick_menu{


          color:black;

          z-index:1;
          }

          td{
          vertical-align:center;
          background: white;
          border: 1px solid white;

          }
          .tagun{
          background: #0099cc;
          }
          .tagun:hover{
          background: #ffa523;
          color:white;
          text-decoration:none;
          }
          .active{
          color:white;
          background: #FFB32A;
          }
          td a{
          color:white;
          display: block;
          text-decoration:none;
          padding: 12px;
          padding-left: 0px;
          padding-right: 0px;
          }
          .tdd{
          font-size:14px;
          }
          td:focus{
          color:white;

          text-decoration:none;
          }
          a:hover{text-decoration:none;}
          .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
          font-size: 1em;
          padding: 0.5em 1.5em;
          }
        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js", :type => "text/javascript"}
        #stick_menu
          %table{:align => "center", :border => "0", :width => "900"}
            %tbody
              %tr{:align => "center"}
                %td.tagun
                  %a.tdd{:href => "#1"} Описание и цены
                %td.tagun
                  %a.tdd{:href => "#2"} Примеры путешествий FREE TRAVEL
                %td.tagun
                  %a.tdd.spec{:href => "#3"} Оставить заявку на предварительный расчет
        :javascript
          $(document).ready(function() {
          var start_pos=$('#stick_menu').offset().top;
           $(window).scroll(function(){
            if ($(window).scrollTop()>=start_pos) {
                if ($('#stick_menu').hasClass()==false) $('#stick_menu').addClass('to_top');
            }
            else $('#stick_menu').removeClass('to_top');
           });
          });
          $(document).ready(function () {
              $(document).on("scroll", onScroll);

              //smoothscroll
              $('a[href^="#"]').on('click', function (e) {
                  e.preventDefault();
                  $(document).off("scroll");

                  $('a').each(function () {
                      $(this).removeClass('active');
                  });
                  $(this).addClass('active');

                  var target = this.hash,
                      menu = target;
                  $target = $(target);
                  $('html, body').stop().animate({
                      'scrollTop': $target.offset().top-60
                  }, 1000, 'swing', function () {
                      window.location.hash = target;
                      $(document).on("scroll", onScroll);
                  });
              });
          });
          function onScroll(event){
              var scrollPos = $(document).scrollTop();
              $('#stick_menu a').each(function () {
                  var currLink = $(this);
                  var refElement = $(currLink.attr("href"));
                  if (refElement.position().top <= scrollPos+100 && refElement.position().top + refElement.height() > scrollPos) {
                      $('#stick_menu ul li a').removeClass("active");
                      currLink.addClass("active");
                  }
                  else{
                      currLink.removeClass("active");
                  }
              });
          }
      .module.margin-collapse.htmlModule
        %section#1{:style => "position: absolute; height: 1000px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 9px;"}
      %h2.module.margin-collapse.h2 Заинтересовались? Да, это действительно ВЫГОДНО!
      .module.divider-divider-variable.divider-variable{:style => "height: 20px;"}
      %article.module.margin-collapse.intro.image-text.image-text-large.large.alignleft.clear
        %img{"data-srcset" => "upl/website/self-travel/selftravel1_srcset-small.jpg, upl/website/self-travel/selftravel0_srcset-large.jpg", :src => "/upl/website/self-travel/selftravel0_srcset-large.jpg"}/
        %p.small
        %h3.h2
        %p
          %span{:style => "font-size: 14px; line-height: 22.3999996185303px;"} Как мы добиваемся для вас экономии денег на проживание и перелет?
          %br/
          %span{:style => "font-size: 14px; line-height: 1.6;"} Мы имеем возможность бронировать отели на всех курортах мира из блоков европейских туроператоров. Их цены на курортные отели почти всегда выигрывают по сравнению со всеми известными системами бронирования проживания, к примеру booking.com. То же самое и с европейскими чартерными авиаперелетами – мы также можем их бронировать по ценам значительно ниже регулярных рейсов, а чартеры из Берлина, например, летают практически во все курорты мира: Канары, Доминикана, Мальдивы, Мексика и т.д. и т.п.
      %article.module.intro.image-text.image-text-large.large.alignleft.clear
        %img{"data-srcset" => "upl/website/self-travel/freetravel2_srcset-small.jpg, upl/website/self-travel/freetravel2_srcset-large.jpg", :src => "/upl/website/self-travel/freetravel2_srcset-large.jpg"}/
        %p.small
        %h3.h2
        %p
          %span{:style => "font-size:14px;"}
            Вам остается только р
            %a{:name => "_GoBack"}>
            ешить, куда вы хотите поехать и на сколько дней. В одном путешествии может быть как одна страна так и несколько стран, как исключительно пляжный отдых, так и совмещенная с пляжем экскурсионная программа. Мы беремся за организацию путешествия  от супер эконом до VIP, за любые комбинации, любые страны и любое количество людей. Также мы помогаем найти экскурсии, интересные места и события, забронировать для вас машину и составить маршрут авто-путешествия по стране и многое другое. Путешествуйте самостоятельно, экономьте время и деньги с ИСКАТЕЛЯМИ ВПЕЧАТЛЕНИЙ!
      .module.margin-collapse.border.bar
        %h3.h2 Цены на наши услуги
        %hr/
      %article.module.margin-collapse.text
        %ul{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px;"}
          %li
            %span{:style => "font-size: 14px;"}
              %span{:style => "color: rgb(0, 0, 0);"} 35 евро за организацию путешествия на 1 человека
          %li
            %span{:style => "font-size: 14px;"}
              %span{:style => "color: rgb(0, 0, 0);"} 60 евро за организацию путешествия на 2-х человек
          %li
            %span{:style => "font-size: 14px;"}
              %span{:style => "color: rgb(0, 0, 0);"} ​за каждого дополнительного человека сверх двух - 5 евро (т.е.  на 3-х человек 65 евро, на 4-х человек 70 евро и т.д.)
      .module.divider-divider-variable.divider-variable{:style => "height: 20px;"}
      .module.alignleft.text-left.box.callToAction
        %p
          %span{:style => "font-size:18px;"}
            %span{:style => "color:#FFFFFF;"}
              %strong> ДОПОЛНИТЕЛЬНО! Вы можете заказать
              \:
        %p
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#FFFFFF;"}
              %span{:style => "line-height: 1.6;"} 1. оn-line поддержку на отдыхе
        %p
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#FFFFFF;"}
              %span{:style => "line-height: 1.6;"} 2. сопровождение гида в первые несколько дней вашего путешествия, который познакомит вас со страной и ответит на все ваши вопросы, далее вы продолжите путешествие самостоятельно по спланированному маршруту
      .module.margin-collapse.htmlModule
        %section#2{:style => "position: absolute; height: 1000px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 30px;"}
      .module.margin-collapse.display
        %h3{:style => "font-size: 1.25em;"}
          Примеры уже организованных нами путешествий self travel
          %br/
    .contentArea.contentAreaD
      .module.margin-collapse.htmlModule
        :css
          hr {
           border: none;
           background-color: #626262;
           height: 2px;
           width: 140%;
          }
          a{
             color:#006384;
          }
        %hr/
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      %h3.module.margin-collapse.h2 Очарование Франции. Париж и прогулки по Нормандии: Руан, Этрета, Мон-Сен-Мишель
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.h4.preamble
        %p
          %span{:style => "color:#FF8C00;"}
            %span{:style => "font-size:18px;"}
              %strong> Регион:
               Европа, Франция
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.divider-dotted.dotted
      %article.module.margin-collapse.text
        %p
          %span{:style => "font-size:14px;"}>
            %strong>
              %span{:style => "color:#000000;"} Маршрут
            \: 
          Вильнюс – Париж 4 дн – Этрета 1 дн –Руан 1 дн – Мон-Сен-Мишель 1 дн – Вильнюс.
          %br/
          %br/
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#000000;"}
              %strong Что в программе: 
        %ul
          %li
            %span{:style => "color: rgb(0, 0, 0); font-size: 14px; line-height: 1.6;"} все знаковые и легендарные места Парижа: Гранд опера, Елисейские поля, Триумфальная арка, река Сена и о.Сите, Сент-Шапель, Нотр-Дам, Лувр, Эйфелева башня, 2 сада Тюильри и Люксембургский и многое другое
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} ресторанчики, кафе и бистро с настоящей французской кухней
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} прогулка по Руану - городу Жанны Д’Арк
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} целый день наслаждения алебастровым берегом, меловыми скалами и галечным пляжем Этрета
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} посещение одного из самых красивых замков мира, стоящего на границе Нормандии и Бретани – Мон Сен Мишель
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} и конечно же парижский шопинг
        %p
          %strong{:style => "color: rgb(0, 0, 0); font-size: 14.4444446563721px; line-height: 24.8888893127441px;"} В стоимость включено: 
        %ul{:style => "color: rgb(0, 0, 0); font-size: 13.3333339691162px; line-height: 23.1111106872559px;"}
          %li
            %span{:style => "font-size: 14px;"} авиаперелет Вильнюс-Париж-Вильнюс
          %li
            %span{:style => "font-size: 14px;"} проживание в хорошо расположенных апартаментах
          %li
            %span{:style => "font-size: 14px;"} переезды Париж-Этрета-Париж, Париж-Руан-Париж, Париж-замок Мон-Сен-Мишель-Париж.
        %div
          %br/
          %span{:style => "color:#000000;"}
            %strong Когда ехать?
        %div
          %table{:border => "1", :cellpadding => "1", :cellspacing => "1", :style => "color: rgb(0, 0, 0); font-size: 13.3333339691162px; line-height: 23.1111106872559px; width: 650px;"}
            %tbody
              %tr
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Янв
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Фев
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Мар
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Апр
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Май
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Июн
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Июл
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Авг
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Сен
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Окт
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Ноя
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Дек
              %tr
                %td{:style => "background-color: rgb(255, 255, 255);"}  
                %td{:style => "background-color: rgb(255, 255, 255);"}  
                %td{:style => "background-color: rgb(255, 255, 255);"}  
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +-
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} +-
                %td{:style => "background-color: rgb(255, 255, 255);"}  
                %td{:style => "background-color: rgb(255, 255, 255);"}  
      .module.divider-spacer.spacer
      .module.margin-collapse.htmlModule
        :css
          hr {
           border: none;
           background-color: #626262;
           height: 2px;
           width: 140%;
          }
          a{
             color:#006384;
          }
        %hr/
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      %h3.module.margin-collapse.h2 Испания: энергичная Барселона и побег от суеты на Канары
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.h4.preamble
        %p
          %span{:style => "color:#FF8C00;"}
            %span{:style => "font-size:18px;"}
              %strong> Регион:
               Европа, Испания
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.divider-dotted.dotted
      %article.module.margin-collapse.text
        %p
          %strong{:style => "font-size: 14px; line-height: 1.6;"}
            %span{:style => "color:#000000;"} Маршрут
          %span{:style => "font-size: 14px; line-height: 1.6;"} : 
          %span{:style => "font-size: 14px; line-height: 1.6; color: rgb(0, 0, 0);"} Вильнюс – Барселона 5 дн – о. Гран Канария 5 дн – Вильнюс.
        %p
          %br/
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#000000;"}
              %strong Что в программе: 
        %ul
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"}
                2 маршрута по Барселоне:
                %br/
                %strong Маршрут 1 Барселона Антонио Гауди
                – увидеть своими глазами творчество великого Мастера и ощутить магнетизм построенных им домов, посвятив один день прогулке по «адресам Гауди».
                %br/
                = succeed "-" do
                  %strong Маршрут 2 Пешком по Барселоне
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} нетуристические места каталонской и средиземноморской кухни
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} шопинг в десятках брендовых магазинах, огромных торговых центрах, уличных рынках
        %p
          ​
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#000000;"} ​
          %strong{:style => "font-size: 13px; line-height: 1.6;"} В стоимость включено:
        %ul
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size: 14px;"} все авиаперелеты Вильнюс-Барселона-Вильнюс, Барселона-Гран Канария-Барселона
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size: 14px;"} проживание в хорошо расположенных апартаментах (Барселона на площади Каталонии или у моря), Гран Канария недалеко от пляжа)
        %p
          ​
          %span{:style => "color:#000000;"}
            %span{:style => "font-size: 14px;"} ​
          %strong{:style => "color: rgb(0, 0, 0); font-size: 13.3333339691162px; line-height: 23.1111106872559px;"} Когда ехать?
        %div
          %table{:border => "1", :cellpadding => "1", :cellspacing => "1", :style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0); width: 650px;"}
            %tbody
              %tr
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Янв
                %td{:style => "text-align: center; background-color: rgb(255, 255, 255);"} Фев
                %td{:style => "text-align: center;"} Мар
                %td{:style => "text-align: center;"} Апр
                %td{:style => "text-align: center;"} Май
                %td{:style => "text-align: center;"} Июн
                %td{:style => "text-align: center;"} Июл
                %td{:style => "text-align: center;"} Авг
                %td{:style => "text-align: center;"} Сен
                %td{:style => "text-align: center;"} Окт
                %td{:style => "text-align: center;"} Ноя
                %td{:style => "text-align: center;"} Дек
              %tr
                %td{:style => "background-color: rgb(255, 255, 255);"}  
                %td  
                %td{:style => "text-align: center;"} +-
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +-
                %td  
      .module.divider-spacer.spacer
      .module.margin-collapse.htmlModule
        :css
          hr {
           border: none;
           background-color: #626262;
           height: 2px;
           width: 140%;
          }
          a{
             color:#006384;
          }
        %hr/
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      %h3.module.margin-collapse.h2 Грузия: от Тбилиси до Батуми через горы Сванетии
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.h4.preamble
        %p
          %span{:style => "font-size:18px;"}
            %span{:style => "color:#FF8C00;"}
              %strong> Регион:
               Закавказье, Грузия
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.divider-dotted.dotted
      %article.module.margin-collapse.text
        %p
          %span{:style => "font-size:14px;"}
            %strong>
              %span{:style => "color:#000000;"} Маршрут
            \: Минск – Тбилиси 4 дн - Сванетия 3 дн – Батуми 4 дн - Минск.
          %br/
          %br/
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#000000;"}
              %strong Что в программе: 
        %ul
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} прогулки по Тбилиси: старый город, крепость Нарикала, Сионский собор, храм Метехи, Собор Цминда Самеба (Святой Троицы), Статуя Матери Грузии, Тбилисские серные бани, Проспект им. Шота Руставели и многое другое
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} адреса ресторанов и таверн настоящей грузинской кухни
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} покупка колоритных грузинских сувениров: вино и кавказский рог для вина, грузинские украшения из перегородчатой эмали, грузинский сыр, специи, чурчхела, аджика
        %p
          %strong
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} ​
              %strong{:style => "font-size: 13px; line-height: 1.6;"} В
              стоимость включено:
        %ul
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} авиаперелеты Минск -Тбилиси и Батуми-Минск
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} переезды Тбилиси-Местия, Местия-Батуми
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} проживание в хорошо расположенных апартаментах, гостиницах и гест-хаусах в Тбилиси, Сванетии и Батуми.
        %p
          %span{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px;"} ​
          %span{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0);"}
            %span{:style => "font-size: 14px;"} ​
          %strong{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0);"} Когда ехать?
        %div{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px;"}
          %table{:border => "1", :cellpadding => "1", :cellspacing => "1", :style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0); width: 650px;"}
            %tbody
              %tr
                %td{:style => "text-align: center;"} Янв
                %td{:style => "text-align: center;"} Фев
                %td{:style => "text-align: center;"} Мар
                %td{:style => "text-align: center;"} Апр
                %td{:style => "text-align: center;"} Май
                %td{:style => "text-align: center;"} Июн
                %td{:style => "text-align: center;"} Июл
                %td{:style => "text-align: center;"} Авг
                %td{:style => "text-align: center;"} Сен
                %td{:style => "text-align: center;"} Окт
                %td{:style => "text-align: center;"} Ноя
                %td{:style => "text-align: center;"} Дек
              %tr
                %td  
                %td  
                %td  
                %td  
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td{:style => "text-align: center;"} +
                %td  
                %td  
                %td  
      .module.divider-divider-variable.divider-variable{:style => "height: 80px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 120px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 20px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 20px;"}
      .module.margin-collapse.htmlModule
        :css
          hr {
           border: none;
           background-color: #626262;
           height: 2px;
           width: 140%;
          }
          a{
             color:#006384;
          }
        %hr/
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      %h3.module.margin-collapse.h2 Бремен: путешествие в немецкую сказку на веселую ярмарку Фраймаркт
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.h4.preamble
        %p
          %span{:style => "color:#FF8C00;"}
            %span{:style => "font-size:18px;"}
              %strong> Регион:
               Европа, Германия
      .module.divider-divider-variable.divider-variable{:style => "height: 10px;"}
      .module.margin-collapse.divider-dotted.dotted
      %article.module.text
        %p
          %span{:style => "font-size:14px;"}
            %strong>
              %span{:style => "color:#000000;"} Маршрут
            \: Вильнюс – Бремен 3 дн - Вильнюс.
          %br/
          %br/
          %span{:style => "font-size:14px;"}
            %span{:style => "color:#000000;"}
              %strong Что в программе: 
        %ul
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} праздничный Бремен, атмосфера беззаботного веселья, обильные угощения на ярмарке и много вкусного немецкого пива с немецкими колбасками 
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} 17 октября - в день открытия ярмарки праздничный фейерверк
          %li
            %span{:style => "color:#000000;"}
              %span{:style => "font-size:14px;"} адреса ресторанов и таверн с аутентичной немецкой кухней и местным пивом
        %p
          %strong
            %span{:style => "font-size:14px;"} ​В стоимость включено:
        %ul
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} авиаперелет Вильнюс-Бремен-Вильнюс
          %li
            %span{:style => "font-size:14px;"}
              %span{:style => "color:#000000;"} проживание в хорошо расположенных апартаментах.
        %p
          %strong{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0);"} Когда ехать?
        %div{:style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px;"}
          %table{:border => "1", :cellpadding => "1", :cellspacing => "1", :style => "font-size: 13.3333339691162px; line-height: 23.1111106872559px; color: rgb(0, 0, 0); width: 650px;"}
            %tbody
              %tr
                %td{:style => "text-align: center;"} Янв
                %td{:style => "text-align: center;"} Фев
                %td{:style => "text-align: center;"} Мар
                %td{:style => "text-align: center;"} Апр
                %td{:style => "text-align: center;"} Май
                %td{:style => "text-align: center;"} Июн
                %td{:style => "text-align: center;"} Июл
                %td{:style => "text-align: center;"} Авг
                %td{:style => "text-align: center;"} Сен
                %td{:style => "text-align: center;"} Окт
                %td{:style => "text-align: center;"} Ноя
                %td{:style => "text-align: center;"} Дек
              %tr
                %td  
                %td  
                %td  
                %td  
                %td  
                %td  
                %td  
                %td  
                %td  
                %td{:style => "text-align: center;"} +
                %td  
                %td  
      .module.divider-divider-variable.divider-variable{:style => "height: 110px;"}
      .module.margin-collapse.htmlModule
        :css
          hr {
           border: none;
           background-color: #626262;
           height: 2px;
           width: 140%;
          }
          a{
             color:#006384;
          }
        %hr/
    .contentArea.contentAreaB
      .module.divider-divider-variable.divider-variable{:style => "height: 30px;"}
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/2_srcset-small.jpg, upl/website/self-travel/2_srcset-large.jpg", :src => "/upl/website/self-travel/2_srcset-large.jpg"}/
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/6_srcset-small.jpg, upl/website/self-travel/6_srcset-large.jpg", :src => "/upl/website/self-travel/6_srcset-large.jpg"}/
      .module.alignleft.text-left.box.callToAction{:style => "background-color: #626262;"}
        %p{:style => "text-align: center;"}
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 14px;"} Стоимость: 
          %strong{:style => "line-height: 20.7999992370605px; text-align: center;"}
            %span{:style => "color: rgb(255, 165, 0);"}
              %span{:style => "font-size: 14px;"} 415 евро/1 человек
          %br{:style => "line-height: 20.7999992370605px; text-align: center;"}/
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"} ......................................................
          %br/
          %span{:style => "color:#FFFFFF;"} 7 дней
        %p{:style => "text-align: center;"}
          %span{:style => "font-size:11px;"}
            %span{:style => "color:#FFFFFF;"} ПОДРОБНАЯ ПРОГРАММА,РАСЧЕТ НА ВАШИ ДАТЫ И КОЛИЧЕСТВО ПУТЕШЕСТВЕННИКОВ ПРЕДОСТАВЛЯЕТСЯ ПО З
          %span{:style => "font-size:11px;"}
            %span{:style => "color:#FFFFFF;"} ПРОСУ
      .module.divider-divider-variable.divider-variable{:style => "height: 120px;"}
      .module.divider-divider-variable.divider-variable{:style => "height: 30px;"}
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/50_srcset-small.jpg, upl/website/self-travel/50_srcset-large.jpg", :src => "/upl/website/self-travel/50_srcset-large.jpg"}/
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/54540_srcset-small.jpg, upl/website/self-travel/54540_srcset-large.jpg", :src => "/upl/website/self-travel/54540_srcset-large.jpg"}/
      .module.alignleft.text-left.box.callToAction{:style => "background-color: #626262;"}
        %p{:style => "text-align: center;"}
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 14px;"} Стоимость: 
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 165, 35);"}
            %strong
              %span{:style => "font-size: 14px;"} 545 евро/1 человек
          %br{:style => "line-height: 20.7999992370605px; text-align: center;"}/
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"} ......................................................
            %br/
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"}
                %span{:style => "font-size: 14px;"} 10 дней
        %p{:style => "text-align: center;"}
          %span{:style => "font-size:11px;"}
            %span{:style => "color:#FFFFFF;"} ПОДРОБНАЯ ПРОГРАММА,РАСЧЕТ НА ВАШИ ДАТЫ И КОЛИЧЕСТВО ПУТЕШЕСТВЕННИКОВ ПРЕДОСТАВЛЯЕТСЯ ПО ЗАПРОСУ
      .module.divider-divider-variable.divider-variable{:style => "height: 90px;"}
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/87_srcset-small.jpg, upl/website/self-travel/87_srcset-large.jpg", :src => "/upl/website/self-travel/87_srcset-large.jpg"}/
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/88_srcset-small.jpg, upl/website/self-travel/88_srcset-large.jpg", :src => "/upl/website/self-travel/88_srcset-large.jpg"}/
      .module.alignleft.text-left.box.callToAction{:style => "background-color: #626262;"}
        %p{:style => "text-align: center;"}
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 14px;"} Стоимость: 
          %strong{:style => "line-height: 20.7999992370605px; text-align: center;"}
            %span{:style => "color: rgb(255, 165, 0);"}
              %span{:style => "font-size: 14px;"} 600 евро/1 человек
          %br{:style => "line-height: 20.7999992370605px; text-align: center;"}/
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"} ......................................................
            %br/
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"}
                %span{:style => "font-size: 14px;"}  11 дней
        %p{:style => "text-align: center;"}
          %span{:style => "font-size:11px;"}
            %span{:style => "color:#FFFFFF;"} ПОДРОБНАЯ ПРОГРАММА,РАСЧЕТ НА ВАШИ ДАТЫ И КОЛИЧЕСТВО ПУТЕШЕСТВЕННИКОВ ПРЕДОСТАВЛЯЕТСЯ ПО ЗАПРОСУ
      .module.divider-divider-variable.divider-variable{:style => "height: 40px;"}
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/6765_srcset-small.jpg, upl/website/self-travel/6765_srcset-large.jpg", :src => "/upl/website/self-travel/6765_srcset-large.jpg"}/
      %img.module.margin-collapse.image{"data-srcset" => "upl/website/self-travel/7676_srcset-small.jpg, upl/website/self-travel/7676_srcset-large.jpg", :src => "/upl/website/self-travel/7676_srcset-large.jpg"}/
      .module.alignleft.text-left.box.callToAction{:style => "background-color: #626262;"}
        %p{:style => "text-align: center;"}
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 14px;"} Стоимость: 
          %strong{:style => "line-height: 20.7999992370605px; text-align: center;"}
            %span{:style => "color: rgb(255, 165, 0);"}
              %span{:style => "font-size: 14px;"} 140
          %strong{:style => "line-height: 20.7999992370605px; text-align: center;"}
            %span{:style => "color: rgb(255, 165, 0);"}
              %span{:style => "font-size: 14px;"}  евро
          %br{:style => "line-height: 20.7999992370605px; text-align: center;"}/
          %span{:style => "line-height: 20.7999992370605px; text-align: center; color: rgb(255, 255, 255);"}
            %span{:style => "font-size: 10px;"}
              %span{:style => "line-height: 17.6000003814697px;"} ......................................................
          %br/
          %span{:style => "color:#FFFFFF;"}
            %span{:style => "line-height: 20.7999992370605px; text-align: center;"}
              %span{:style => "font-size: 10px;"}
                %span{:style => "line-height: 17.6000003814697px;"}
                  %span{:style => "font-size: 14px;"} 3 дня
        %p{:style => "text-align: center;"}
          %span{:style => "font-size:11px;"}
            %span{:style => "color:#FFFFFF;"} ПОДРОБНАЯ ПРОГРАММА,РАСЧЕТ НА ВАШИ ДАТЫ И КОЛИЧЕСТВО ПУТЕШЕСТВЕННИКОВ ПРЕДОСТАВЛЯЕТСЯ ПО ЗАПРОСУ
    .contentArea.contentAreaC
      .module.htmlModule
        %section#3{:style => "position: absolute; height: 1000px;"}
      #contentArea_4_-module_2_.module.formbuilder.normal
        %h3.h2 Оставить заявку на предварительный расчет
        %form#form-contentArea_4_-module_2_{:action => "self-travel", "data-track-action" => "custom_form", "data-track-event" => "submit", :method => "post", :onsubmit => "disableSubmit(this);return submitForm(this);"}
          %fieldset
            %label{:for => "form_contentArea_4_-module_2__0"}
              Имя
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__0.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__0", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__1"}
              Телефон
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__1.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__1", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__2"}
              Email
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__2.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__2", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__3"}
              В какую страну (ы) хотите
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__3.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__3", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__4"}
              Когда хотите выезжать
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__4.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__4", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__5"}
              На какое количество дней
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__5.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__5", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__6"}
              Количество людей
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__6.error
            .text-container
              %input.text{:name => "form_contentArea_4_-module_2__6", :type => "text", :value => ""}/
            %label{:for => "form_contentArea_4_-module_2__7"}
              Сообщение
              %span#error_contentArea_4_-module_2__form_contentArea_4_-module_2__7.error
            .textarea-container
              %textarea.textarea{:name => "form_contentArea_4_-module_2__7"}
          %span#error-contentArea_4_-module_2_.error
          .width-container
            .button-container
              %input.button{:name => "contentArea_4_-module_2_", :type => "submit", :value => "Отправить"}/
              %button.btn{:type => "submit"} Отправить