!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
  %body
    %h1
      = 'Здравствуйте!'
    %p
      Вы получили это письмо в связи с тем, что оставили свой email для оформления подписки
      на ежемесячную рассылку на сайте #{link_to @url, @url, target: '_blank' }
      %br/
    %p
      Спасибо, что выбрали "Искателей впечатлений"!