.module.margin-collapse.border.bar
  %h3.h2 Вакансии
  %hr/
  %article.module.text
    %p Мы всегда открыты для общения, рады новым людям и новым идеям. Присоединяйтесь к команде ИСКАТЕЛИ ВПЕЧАТЛЕНИЙ!
    %p
      %em{:style => 'line-height: 1.6;'} На текущий момент открытых вакансий нет.