:css
  ul.ul-look {
  margin: 0;
  padding: 0!important;
  width: 900px;
  overflow: hidden;
  }
  #slideout_inner ul.dest, ul.ul-look {
  list-style: none;
  }
  element.style {
  }
  ul.ul-look li {
  display: block;
  float: left;
  width: 299px;
  margin: 0 0 0px 0;
  position: relative;
  padding: 1px;
  height: 160px;
  overflow: hidden;
  }
  Vidymedia="screen"
  .detailholder {
  text-align: center;
  }
  user agent stylesheetli {
  display: list-item;
  text-align: -webkit-match-parent;
  }
  Inherited from ul.ul-look
  #slideout_inner ul.dest, ul.ul-look {
  list-style: none;
  }
  element.style {
  }
  #hover-link a.link {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -149px;

  }
  #hover-link a.link:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -149px;

  background-color: rgba(0, 0, 0, 0.4);
  }

  a {
  text-decoration: none;
  }
  user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
  }

  .detailholder {
  text-align: center;
  }
  user agent stylesheetli {
  display: list-item;
  text-align: -webkit-match-parent;
  }
  Inherited from ul.ul-look
  #slideout_inner ul.dest, ul.ul-look {
  list-style: none;
  }
  li.looktitle h2.block {
  bottom: 0;
  }
  li.looktitle h2 {
  padding: 10px 0;
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-weight: 300;
  margin: 0;
  }
  div.trevtitle h2, .bl-journal h2, li.looktitle h2 {
  font-size: 15px!important;
  text-transform: none;
  text-align: center;
  line-height: 1.3;
  }

  ul.ul-look li img {
  width: 100%;
  min-height: 160px;
  }
  a img, img {
  border: none;
  }

  *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  svg {
    display: block;
    overflow: visible;
  }

  .slider-container {
    position: absolute;
    margin-top: -42px;
    width: 100%;
    overflow: hidden;
    margin-left: -471px;
    right: 0px;
    height: 450px;
    -webkit-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
          user-select: none;
    cursor: all-scroll;
  }

  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-control.right {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  }

  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
  }

  .slider {
    z-index: 1;
    position: relative;
    height: 450px;
  }
  .slider.animating {
    -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
    will-change: transform;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
        transform: translateX(0);
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("/uploads/website/images/1440574363.jpg?1440574417");
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill:rgba(0, 0, 0, 0.28);
  }

    margin-left: -68px;





  @media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
      background-color: rgba(233, 156, 126, 0.8);
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
      background: url("/uploads/website/images/1447920476.jpg?1447920487") 0px 0px;
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
      background-color: rgba(225, 204, 174, 0.8);
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background: url("/uploads/website/images/2.jpg?1442385653") 0px 0px;
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
      background-color: rgba(173, 197, 205, 0.8);
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("/uploads/website/images/31.jpg?1446099614");
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide:nth-child(5) {
    left: 400%;
  }
  .slide:nth-child(5) .slide__bg {
    left: -200%;
    background: url("/uploads/website/images/1439802372.jpg?1439802392") 10px 0px;
  }
  .slide:nth-child(5) .slide__overlay-path {
    fill: rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(5) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide:nth-child(6) {
    left: 500%;
  }
  .slide:nth-child(6) .slide__bg {
    left: -250%;
    background-image: url("/uploads/website/images/1447920477.jpg?1447920506");
  }
  .slide:nth-child(6) .slide__overlay-path {
    fill: rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(6) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide:nth-child(7) {
    left: 600%;
  }
  .slide:nth-child(7) .slide__bg {
    left: -300%;
    background: url("/uploads/website/images/1436279495.jpg?1436279681") -111px -520px;
  }
  .slide:nth-child(7) .slide__overlay-path {
    fill:rgba(0, 0, 0, 0.28);
  }
  @media (max-width: 991px) {
    .slide:nth-child(7) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.2s 0.5s;
      transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__overlay {
      display: none;
    }
  }
  .slide__overlay path {
    opacity: 0.8;
  }
  .slide__text {
    position: absolute;
    width: 31%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    -webkit-transition: -webkit-transform 0.5s 0.8s, opacity 0.5s 0.8s;
      transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    opacity: 0;
  }
  @media (max-width: 1200px) {
  .slide__text {
    width: 47%;
  }
  }
  @media (max-width: 991px) {
    .slide__text {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20rem;
      text-align: center;
      -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
          transform: translateY(50%);
      -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 1rem;
    }
  }
  .slide__text-heading {
    font-family: "Polar", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
  }
  @media (max-width: 991px) {
    .slide__text-heading {
    padding-top: 110px;
    /* line-height: 20rem; */
    font-size: 2em;
  }
  }
  .slide__text-desc {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 991px) {
    .slide__text-desc {
      display: none;
    }
  }
  .slide__text-link {
    color: white;
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    -webkit-perspective: 1000px;
      perspective: 1000px;
  }
  @media (max-width: 991px) {
    .slide__text-link {
      display: none;
    }
  }
  .slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0099CC;
    -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    -webkit-transform: rotateX(-85deg);
      transform: rotateX(-85deg);
    -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    will-change: transform;
  }
  .slide__text-link:hover:before {
    -webkit-transform: rotateX(0);
      transform: rotateX(0);
  }
  .slider .slide {
    display: block;
  }

  p.slide__text-desc {
    color: white;
    font-size: 18px;
  }