<div>
<ul  class = "bxslider">
  <li style="height: 520px;"><iframe src="//player.vimeo.com/video/104253899?title=0&byline=0&portrait=0" width="890" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
<li style="height: 520px;"><iframe src="//player.vimeo.com/video/110764728?title=0&byline=0&portrait=0" width="890" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>

</ul>
</div>