%p
  Здравствуйте, #{@resource.email}!

%p
  Вы получили это письмо, потому что кто-то воспользовался кнопкой восстановления пароля.
  Для того чтобы продолжить, воспользуйтесь ссылкой ниже
%p= link_to 'Сбросить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если это были не Вы, то просто проигнорируйте это письмо.
%p Ваш пароль не будет изменен до тех пор, пока вы не воспользуетесь ссылкой выше.
