.row
  .col-md-12
    %h3 Изменение настроек сайта
.col-md-12
  %section.panel.general
    %header.panel-heading.tab-bg-dark-navy-blue
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle': 'tab', href: '#main'} Основные настройки
    .panel-body
      .tab-content
        #main.tab-pane.active
          = render 'dashboard/configs/form'
