- meta title: @review_page.meta_title, description: @review_page.meta_description, keywords: @review_page.meta_keywords

#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => 'main'}
    .contentArea.contentAreaC
      %h1.module.h1
        = @review_page.title.humanize
      %article.module.text
        %p
          %span{:style => 'font-size:14px;'}
            = raw @review_page.description